.body {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

button {
  padding: 0;
  font: inherit;
  color: inherit;
}

.key {
  width: 40px;
  height: 40px;
  border: 1px solid #8f43ee;
  background: #f5ebeb;
  border-radius: 5px;
  transition: 0.1s ease-in-out;
  box-shadow: 2px 3px #999;
}

.key:hover {
  background: #c9a7eb;
}

.key:active {
  background-color: #c9a7eb;
  box-shadow: 0 1px #666;
  transform: translateY(3px);
}

.container {
  width: 666px;
  margin: 0 auto;
  background-color: #e5beec;
  padding: 8px;
  border-radius: 10px;
  border: 2px solid #18122b;
}

.backspace,
.shift-left {
  width: 91px;
}
.enter,
.shift {
  width: 85px;
}

.space {
  width: 312px;
}

.tab {
  width: 47px;
}

.row {
  margin-bottom: 10px;
}

.textarea {
  background-color: #F3EFE0;
  border: 1px solid;
  margin: 14px;
  height: 180px;
  width: 677px;
}

.title {
  margin: 20px 0 7px 0;
}

.keyboard-title{
    margin: 0;
}
